.main {
  flex: 1;
}

.main-profile {
  min-height: 640px;
}

.bg-dark {
  background-color: #12002b;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.profile-title {
  margin : 0;
}

.edit-button {
  width: 90px;
  margin: 15px 10px 10px 10px;
  padding: 10px;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
}

.edit-input {
  height : 25px;
  margin: 20px 10px 10px 10px;
  color: rgb(168, 168, 168);
}

.edit-fieldset {
  border: none;
}
